body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
}

.container-cities{
    margin-top: -20px;
    background-color: black;
    background-size: auto;
    height: 100vh; 
    position: relative;
    top: 10px;

}

.featured{
    color: azure;
    position: absolute;
    top: 50px;
    left: 100px;
    
}

.up-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
}

