<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <div class='container-cities'>
            <div class="up-bar">
                <div class='featured'>
                    <p style='font-size: 36px;'>Featured</p>
                    <p style='font-size: 16px;'>spots</p>
                </div>
                <button class="filters">+ filters</button>
            </div> 
            <div class="cont">
                <app-place-in-cities class="places" *ngFor="let c of cities" [city]="c" >
                </app-place-in-cities> 
            </div>  
        </div>
    </body>
