body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: black;
  }

.test {
    background-color: black;
    background-size: auto;
    font-size: 200%;
    color: azure;
    height: 100vh;

}