<body>
    <div class="container">
        <div class="content">
            <div class="address">
                <div>
                    <img src="" alt="adress">
                    <h5>address</h5>
                </div>
                <h6>Israel</h6>
            </div>
            <div class="phone">
                <div>
                    <img src="" alt="phone">
                    <h5>Let's talk</h5>
                </div>
                <h6>+972-52-74-75-185</h6>
            </div>
            <div class="mail">
                <div>
                    <img src="" alt="mail">
                    <h5>Send me an e-mail</h5>
                </div>
                <h6>valerie.kabishcher@gmail.com</h6>
            </div>
        </div> 
    </div>     
</body>

