<body>
    <div class="container">
        <div class="box"></div>
        <div class="content">
            <div class="address">
                <div class="line">
                    <i class="fa fa-map-marker" style=" font-size: 24px;"></i>
                    <h5>Address</h5>
                </div>
                <p>Hadadi st., Bat Yam, Israel</p>
            </div>
            <div class="phone">
                <div class="line">
                    <i class="fa fa-phone" style=" font-size: 24px;"></i>
                    <h5>Let's talk</h5>
                </div>
                <p>+972-52-74-75-185</p>
            </div>
            <div class="mail">   
                <div class="line">
                    <i class="fa fa-envelope-o" style=" font-size: 24px;"></i>
                    <h5>Send me an e-mail</h5>
                </div>
                <p>valerie.kabishcher@gmail.com</p>
            </div>
            <div class="facebook">   
                <div class="line">
                    <i class="fa fa-facebook-official" aria-hidden="true" style=" font-size: 24px;"></i>
                    <h5>Contact me on facebook</h5>
                </div>
                <p>valerie kabishcher</p>
            </div>
        </div> 
    </div>     
</body>

