<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- <body style="background: url(/assets/icons/background.jpg) no-repeat center top /cover;"> -->
<body [ngClass]="{'imageBackground': color, 'blackBackground': !color}">   
    <!-- menu and icon -->
    <div id="menu-block" style="color:'white'">
        <div id="head" class="bar  container">
            <!-- list of menu on the head of the page with isons -->
            <div class="tabs">
                <div>
                    <div class="menu-icon" (click)="changeStyle(list2)" style="cursor: pointer;">
                        <div id="menuIcon1"></div>
                        <div id="menuIcon2"></div>
                        <div id="menuIcon3"></div>
                    </div>

                    <div class="list " style="position:relative;">
                        <div style=" display: flex; align-items: flex-end;">
                            <span class="placeholder2" style="opacity: 0.55;" (click)="changeStyle(list2)">Menu</span>
                        </div>
                        <ul id="open_list" class="list__ul2" [ngStyle]="{display:list2.opacity===0.55 ? 'none' : 'flex'}">
                            <a routerLink="/app-home" routerLinkActive="active" (click)="changeColor('home')">Home</a>
                            <a routerLink="/about" routerLinkActive="active" (click)="changeColor('about')">About</a>
                            <a routerLink="/app-contacts" routerLinkActive="active" (click)="changeColor('contacts')">Contacts</a>
                        </ul>
                    </div>


                    <!-- <h5 style="display: flex; margin-left: 10px; margin-bottom: 10px; font-size: 160%; max-width: 100%;">Menu</h5> -->
                </div>
                <ul class="menu-list">
                    <li *ngFor="let i of listItem;" class="{{i}}">
                        <img src='{{i.imgList}}' alt="@@@" style="margin-left: 8px">
                        <a href="">{{i.menuList}}</a>
                    </li>
                </ul>
                <!-- search, bell and glass -->
                <div class="search-block">
                    <i class="fa fa-bell" style="margin: 5px; cursor:pointer;"></i>
                    <label for="search" style="display: block; margin-left: 15px;" (click)="retToggle()">
                        <div class="search-icon" style="float: right; cursor:pointer;">
                            <img src="assets/icons/search.png" alt="" >
                        </div>
                    </label>
                    <input type="text" id="search-input" class="show-search-block" *ngIf="toggle==true; else hideSearch">
                    <ng-template #hideSearch>
                        <div class="hidden-search-block"></div>
                    </ng-template>
                </div>

            </div>
            <hr style="margin-top: -17px;">
        </div> 
        </div> 
</body>


<!-- What I want to change: 
 1. search icon open the wide field
 2. the height of the page opens scroll in the little desktop 
    when set 100vh it makes the component 100 so there is a scroll too
 3. link in see all to another page-->