<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    
    <!-- menu and icon -->
    <div id="menu-block" style="color:'white'">
        <div id="head" class="bar  container">
            <!-- list of menu on the head of the page with isons -->
            <div class="tabs">
                <div>
                    <div class="menu-icon" (click)="changeStyle(list2)" style="cursor: pointer;">
                        <div id="menuIcon1"></div>
                        <div id="menuIcon2"></div>
                        <div id="menuIcon3"></div>
                    </div>

                    <div class="list " style="position:relative;">
                        <div style=" display: flex; align-items: flex-end;">
                            <span class="placeholder2" (click)="changeStyle(list2)">Menu</span>
                        </div>
                        <ul id="open_list" class="list__ul2" [ngStyle]="{display:list2.opacity===0.55 ? 'none' : 'flex'}">
                            <a routerLink="/about" routerLinkActive="active">About</a>
                            <a routerLink="">Contacts</a>
                            <a routerLink="">Home</a>
                        </ul>
                    </div>


                    <!-- <h5 style="display: flex; margin-left: 10px; margin-bottom: 10px; font-size: 160%; max-width: 100%;">Menu</h5> -->
                </div>
                <ul class="menu-list">
                    <li *ngFor="let i of listItem;" class="{{i}}">
                        <img src='{{i.imgList}}' alt="@@@" style="margin-left: 8px">
                        <a href="">{{i.menuList}}</a>
                    </li>
                </ul>
                <!-- search, bell and glass -->
                <div class="search-block">
                    <i class="fa fa-bell" style="margin: 5px; cursor:pointer;"></i>
                    <label for="search" style="display: block; margin-left: 15px;" (click)="retToggle()">
                        <div class="search-icon" style="float: right; cursor:pointer;">
                            <img src="assets/icons/search.png" alt="" >
                        </div>
                    </label>
                    <input type="text" class="show-search-block" *ngIf="toggle==true; else hideSearch">
                    <ng-template #hideSearch>
                        <div class="hidden-search-block"></div>
                    </ng-template>
                </div>

            </div>
            <hr style="margin-top: -17px;">
        </div>

        <div class="container" style="margin-top: 50px; margin-left: 150px;">

            <label for="title" style="display: block;"><h2>{{title}}</h2></label>
            <div class="list " style="position:relative;">
                <div style=" display: flex; align-items: flex-end;">
                    <span class="placeholder " [ngStyle]="{opacity: list1.opacity}" (click)="changeStyle(list1)">Popular</span>
                    <span class="arrow-down" (click)="changeStyle(list1)"></span>
                </div>
                <ul id="open_list" class="list__ul" [ngStyle]="{display:list1.opacity===0.55 ? 'none' : 'flex'}">
                    <li *ngFor="let j of travelOptions" value="{{j}}">
                        <a href="">{{j}}</a></li>
                </ul>
            </div>
        </div>

        <hr style="margin-top: 120px;">

        <div class="container-2">
            <!-- <div class="featured" style="display:flex; justify-content:space-between; "> -->
            <h4 style="opacity: 0.55; margin-left: 27px; line-height: 1.8;">Featured</h4>
            <a [routerLink]="['allcities']" [fragment]="'b'" class="button">
                <!-- <a [routerLink]="['allcities']" class="button">  -->
                <div class="button-text">
                    <h5 class="txt">See All</h5>
                    <i class="arrow right"></i>
                </div>
            </a>
            <!-- </div> -->
        </div>

    </div>

    <router-outlet></router-outlet>
</body>
<!-- What I want to change: 
 1. search icon open the wide field
 2. the height of the page opens scroll in the little desktop
 3. link to about and contacts pages
 4. link in see all to another page-->